name: 'Azure Devops Pipeline Demo'

resources:
  repositories:
    - repository: starter_rkemish
      type: git
      name: starter_rkemish
      

trigger:
  - main

variables:
  group: my-variable-group
  name: isMain
  value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]

stages:
  - stage: BuildTest
    displayName: Build and Test Stage

    jobs:
      - job: BuildTest
     

        displayName: Build and Test Job

        pool:
          vmImage: 'ubuntu-latest'

        variables:
          solution: '**/*.sln'
          buildConfiguration: 'Release'

        steps:

          - checkout: self
          - checkout: starter_rkemish

          - script: echo '$(myhello)'

          - task: DotNetCoreCLI@2
            displayName: 'Restore'
            inputs:
              command: 'restore'
              projects: '$(solution)'

          - task: DotNetCoreCLI@2
            displayName: 'Build'
            inputs:
              command: 'build'
              projects: '$(solution)'
              arguments: '--configuration $(buildConfiguration)'

          - task: DotNetCoreCLI@2
            displayName: 'Run Tests'
            inputs:
              command: 'test'
              projects: '**/*Tests.csproj'
              arguments: '--configuration $(buildConfiguration) --collect:"XPlat Code Coverage" --settings aspnet.Tests/coverage.runsettings'

          - task: PublishCodeCoverageResults@2
            displayName: 'Publish Code Coverage'
            inputs:
              summaryFileLocation: '$(Agent.TempDirectory)/**/coverage.cobertura.xml'

      - job: SecurityAnalysis
        dependsOn: BuildTest 
        condition: and(succeeded(), eq(variables.isMain, true))

        steps:

          - task: MicrosoftSecurityDevOps@1
         
    