trigger:
  - main

stages:
  - stage: BuildTest
    displayName: Build and Test Stage

    jobs:
      - job: BuildTest
        displayName: Build and Test Job

        pool:
         vmImage: 'ubuntu-latest'
         demands:
         - myCustomCapability 

        variables:
          solution: '**/*.sln'
          buildConfiguration: 'Release'

        steps:

          - task: DotNetCoreCLI@2
            displayName: 'Restore'
            inputs:
              command: 'restore'
              projects: '$(solution)'

          - task: DotNetCoreCLI@2
            displayName: 'Build'
            inputs:
              command: 'build'
              projects: '$(solution)'
              arguments: '--configuration $(buildConfiguration)'

          - task: DotNetCoreCLI@2
            displayName: 'Run Tests'
            inputs:
              command: 'test'
              projects: '**/*Tests.csproj'
              arguments: '--configuration $(buildConfiguration)'
