trigger:
  - main


variables:
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]


stages:
  - stage: BuildTest
    displayName: Build and Test Stage

    

    jobs:
      - job: BuildTest
        strategy:
          matrix:
            linux:
              imageName: 'ubuntu-latest'
            windows:
              imageName: 'windows-latest'

        displayName: Build and Test Job

        pool:
          vmImage: $(imageName)

        variables:
          solution: '**/*.sln'
          buildConfiguration: 'Release'

        steps:

          - task: DotNetCoreCLI@2
            displayName: 'Restore'
            inputs:
              command: 'restore'
              projects: '$(solution)'

          - task: DotNetCoreCLI@2
            displayName: 'Build'
            inputs:
              command: 'build'
              projects: '$(solution)'
              arguments: '--configuration $(buildConfiguration)'

          - task: DotNetCoreCLI@2
            displayName: 'Run Tests'
            inputs:
              command: 'test'
              projects: '**/*Tests.csproj'
              arguments: '--configuration $(buildConfiguration) --collect:"XPlat Code Coverage"'

          - task: PublishCodeCoverageResults@2
            displayName: 'Publish Code Coverage'
            inputs:
              summaryFileLocation: '$(Agent.TempDirectory)/**/coverage.cobertura.xml'

      - job: Deploy
        dependsOn: BuildTest 
        condition: and(succeeded(), eq(variables.isMain, false))
         
    