trigger:
  - main

stages:
  - stage: BuildTest
    displayName: Build and Test Stage

    jobs:
      - job: BuildTest
        displayName: Build and Test Job

        pool: 'Finance'

        variables:
          solution: '**/*.sln'
          buildPlatform: 'AnyCPU'
          buildConfiguration: 'Release'

        steps:

          - task: NuGetToolInstaller@1

          - task: NuGetCommand@2
            inputs:
              restoreSolution: '$(solution)'

          - task: VSBuild@1
            inputs:
              solution: '$(solution)'
              msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactStagingDirectory)"'
              platform: '$(buildPlatform)'
              configuration: '$(buildConfiguration)'

          - task: VSTest@2
            inputs:
              platform: '$(buildPlatform)'
              configuration: '$(buildConfiguration)'